Repository Django-Wanted-Internship-3-Team/repo2_restaurant_recommend, pull requests merged in 2023-11, with the labels that each got.

#23 feature-012&013: 시군구 목록 조회 API 작성 * 맛집 rating 기본값 설정
  data/location.json
  pyproject.toml
  restaurants_recommendation/restaurants/migrations/0002_restaurantlocation_alter_restaurant_location.py
  restaurants_recommendation/restaurants/migrations/0003_alter_restaurant_rating.py
  restaurants_recommendation/restaurants/models.py
  restaurants_recommendation/restaurants/serializers.py
  restaurants_recommendation/restaurants/tests/views/__init__.py
  restaurants_recommendation/restaurants/tests/views/test_location_list_view.py
  restaurants_recommendation/restaurants/urls.py
  restaurants_recommendation/restaurants/views.py
  restaurants_recommendation/users/models.py
Labels: feature, test

#24 feature-007: 데이터 수집, 전처리, db에 저장
  data.py
  poetry.lock
  pyproject.toml
  restaurants_recommendation/restaurants/migrations/0002_restaurant_sanitary_sector.py
  restaurants_recommendation/restaurants/migrations/0003_rename_sanitary_sector_restaurant_sanitary_industry_type.py
  restaurants_recommendation/restaurants/migrations/0004_alter_restaurant_parcel_address_and_more.py
  restaurants_recommendation/restaurants/migrations/0005_merge_20231101_2127.py
  restaurants_recommendation/restaurants/models.py
  restaurants_recommendation/users/migrations/0002_rename_is_lunch_recommendation_user_is_lunch_recommend_and_more.py
  setup.cfg
Labels: bug, feature

#26 feature-004: 로그인 API 작성
  mypy.ini
  restaurants_recommendation/restaurants/migrations/0005_merge_20231101_2127.py
  restaurants_recommendation/users/migrations/0002_rename_is_lunch_recommendation_user_is_lunch_recommend_and_more.py
  restaurants_recommendation/users/serializers.py
  restaurants_recommendation/users/tests/views/test_login_view.py
  restaurants_recommendation/users/urls.py
  restaurants_recommendation/users/views.py
Labels: feature, test

#28 :bug:Fix: migrations 파일 충돌 오류 해결
  restaurants_recommendation/restaurants/migrations/0001_initial.py
  restaurants_recommendation/restaurants/migrations/0002_restaurant_sanitary_sector.py
  restaurants_recommendation/restaurants/migrations/0003_rename_sanitary_sector_restaurant_sanitary_industry_type.py
  restaurants_recommendation/restaurants/migrations/0004_alter_restaurant_parcel_address_and_more.py
  restaurants_recommendation/restaurants/migrations/0005_merge_20231101_2127.py
  restaurants_recommendation/reviews/migrations/0001_initial.py
  restaurants_recommendation/users/migrations/0001_initial.py
Labels: bug

#27 feature-014: 맛집 목록 (API) 작성
  restaurants_recommendation/common/exceptions.py
  restaurants_recommendation/common/utils.py
  restaurants_recommendation/restaurants/migrations/0001_initial.py
  restaurants_recommendation/restaurants/models.py
  restaurants_recommendation/restaurants/serializers.py
  restaurants_recommendation/restaurants/tests/views/test_location_list_view.py
  restaurants_recommendation/restaurants/tests/views/test_restaurant_detail_view.py
  restaurants_recommendation/restaurants/tests/views/test_restaurant_list_view.py
  restaurants_recommendation/restaurants/urls.py
  restaurants_recommendation/restaurants/views.py
  restaurants_recommendation/users/migrations/0001_initial.py
  restaurants_recommendation/users/tests/views/__init__.py
Labels: feature, test

#30 feature-016 : 맛집 평가 생성(API)
  config/root_urls.py
  restaurants_recommendation/restaurants/migrations/0002_alter_restaurant_rating.py
  restaurants_recommendation/reviews/migrations/0002_alter_review_content_alter_review_rating_and_more.py
  restaurants_recommendation/reviews/models.py
  restaurants_recommendation/reviews/serializers.py
  restaurants_recommendation/reviews/tests/test_review_api.py
  restaurants_recommendation/reviews/urls.py
  restaurants_recommendation/reviews/views.py
Labels: feature, test

#29 add_feature:-018 시군구 목록 고도화(API) 캐싱 적용
  .github/workflows/CI.yml
  config/settings.py
  docker-compose.yml
  poetry.lock
  pyproject.toml
  restaurants_recommendation/restaurants/tests/views/test_location_list_view.py
  restaurants_recommendation/restaurants/views.py
Labels: feature, test

#31 add_feature-019: 맛집 상세정보 고도화(API) 작성
  restaurants_recommendation/restaurants/tests/views/test_restaurant_detail_view.py
  restaurants_recommendation/restaurants/views.py
  restaurants_recommendation/reviews/views.py
Labels: feature, test

#32 feature-005&006 : 사용자 설정 업데이트 & 사용자 정보 조회 API 작성
  restaurants_recommendation/users/serializers.py
  restaurants_recommendation/users/tests/views/test_user_detail_view.py
  restaurants_recommendation/users/urls.py
  restaurants_recommendation/users/views.py
Labels: feature, test

#34 feature-020 : Discord Webhook 을 활용한 점심 추천 서비스 (notification)
  config/celery.py
  config/settings.py
  docker-compose.yml
  mypy.ini
  poetry.lock
  pyproject.toml
  restaurants_recommendation/common/models.py
  restaurants_recommendation/common/tests/test_latlonmodel.py
  restaurants_recommendation/restaurants/migrations/0003_alter_restaurant_latitude_alter_restaurant_longitude_and_more.py
  restaurants_recommendation/restaurants/models.py
  restaurants_recommendation/reviews/migrations/0003_alter_review_rating.py
  restaurants_recommendation/users/migrations/0002_user_webhook.py
  restaurants_recommendation/users/models.py
  restaurants_recommendation/users/tasks.py
  restaurants_recommendation/users/tests/test_recommend_restaurants.py
Labels: feature, test

#35 feature-010 : data.py 실행하는 schedule 파일 추가
  config/settings.py
  config/wsgi.py
  poetry.lock
  pyproject.toml
  schedule.py
Labels: feature
